/*
configuration for skeleton.css
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'aileronlight';
}

.nav {
  background: #141414;
  border: 1px solid #979797;
  height: 70px;
  color: #fff;
  padding: 20px 0;
}

.nav ul {
  list-style-type: none;
  text-align: right;
}

.nav ul li {
  display: inline;
  margin-left: 20px;
}

.feed-item {
  border: 1px solid #DADADA;
  padding: 20px;
  font-family: Aileron-Light;
  font-size: 18px;
  color: #303030;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin: 10px;
  width: 600px;
}

/*.long {
  font-size: 18px;
  color: #2B2B2B;
  letter-spacing: 0.2px;
  line-height: 25px;
  width: 480px;
}*/

.time {
  text-align: center;
  display: block;
  margin-top: -33px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  width: 50px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  padding: 3px;
  font-family: Aileron-Bold;
  font-size: 10px;
  color: #000000;
  line-height: 12px;
}

.hashtag {
  font-family: Aileron-Bold;
  font-size: 12px;
  color: #F5A623;
  line-height: 15px;
}

.feed {
  padding-top: 60px;
  height: 450px !important;
  overflow: hidden !important;
  -webkit-mask-image: -webkit-gradient(linear, left 95%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}



.containerforfeed {
  width: 600px; 
  margin: 0 auto;
  height: 300px !important;
  overflow: hidden !important;
  -webkit-mask-image: -webkit-gradient(linear, left 95%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.item { 
  position: relative;
  float: left;
  width: 100px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
 }
.item2 {
  width: 200px;
  height: 200px;
}
